:root{
    --rottom-border: #E24D32;
    --rottom-body: #F9FBFA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image: url('./assets/kalos.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rottom {
    position: relative;  
    width: 90dvw;
    height: 80dvh;
    background-color: var(--rottom-body);
    border: 10px solid var(--rottom-border);
    border-radius: 10px;
}

/* OJOS */
.rottom::before,
.rottom::after {
    content: '';
    position: absolute;
    top: 0;
    width: 10%;
    height: 33%;
    background:
        radial-gradient(circle at 50% 40%,
            #ffffff 0 7%,
            #9be8ff 20%,
            #ffffff 20%,
            #ffffff 55%,
            #ffffff 100%);
    border: 1px solid black;
    border-radius: 50%;
    z-index: -1;        
}

.rottom::before {
    left: 30%;
    transform: translateY(-11vh) rotate(-20deg);
}

.rottom::after {
    right: 30%;
    transform: translateY(-11vh) rotate(20deg);
}

/* FIN OJOS */

.card-container{
    height:100%;
    border: 1px solid black;
}